body {
    height: 2000px;
    text-decoration: none;
}

.header {
    height: 700px;
    background: linear-gradient(to bottom, #EDA418 60%, #FFFFFF 100%);
}

a {
    text-decoration: none;
    color: inherit;
}

.navigation {
    padding-top: 60px;
    padding-left: 100px;
    display: flex;
    font-size: 20px;
    align-items: center;
}

.logo, .cart {
    width: 60px;
    height: auto;
}

.burger_image {
    width: 500px;
    height: auto;
    padding-left: 830px;
    padding-top: 20px;
    position: absolute;
}

.main_word_one {
    display: flex;
    font-size: 35px;
    padding-left: 100px;
    padding-top: 160px;
}

.main_word_two {
    font-size: 15px;
    padding-top: 15px;
    padding-left: 100px;
}

.button_main {
    margin-top: 25px;
    margin-left: 100px;
    border-radius: 50px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: #E52626;
    width: 130px;
    height: 50px;
}

.menu {
    text-align: center;
    font-size: 35px;
    background: linear-gradient(to bottom, #FFFFFF 70%, #EDA418 100%);
    height: 1300px;
}

.meals {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
}

.meals img {
    padding-bottom: 50px;
}

.title {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.title p {
    margin-top: -30px;
}

.final {
    font-family: Montserrat, sans-serif;
    align-items: center;
}

.three_main_texts {
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-top: -270px;
    text-decoration: none;
}

.other_block_one, .other_block_two {
    display: flex;
    justify-content: center;
}

.other_block_two {
    margin-top: -20px;
}

.other_block_one {
    margin-top: 20px;
}

.networks {
    display: flex;
    justify-content: center;
    gap: 7px;
}

.vk {
    width: 55px;
    height: 55px;
}